<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport"
      content="width=device-width, initial-scale=1.0 ,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>结算页面</title>
<link href="__STATIC__/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>
<link href="__STATIC__/basic/css/demo.css" rel="stylesheet" type="text/css"/>
<link href="__STATIC__/css/cartstyle.css" rel="stylesheet" type="text/css"/>
<link href="__STATIC__/css/jsstyle.css" rel="stylesheet" type="text/css"/>
<script src="__STATIC__/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
<script src="__STATIC__/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
<script src="__STATIC__/distpicker-2.0.6/dist/distpicker.min.js"></script>
<!--	<script type="text/javascript" src="__STATIC__/js/address.js"></script>-->
<style>
    .item-content li.td {
        display: block;
        position: unset !important;
        width: auto
    }

    .item-content li.td-price {
        width: 10%;
        padding-left: 2em;
        margin-top: 20px;
    }

    .item-content li.td-number {
        margin: 20px auto 0;
    }

    .item-content li.td-oplist {
        width: 10%;
        margin: 20px auto 0;
    }

    .pay-list {
        display: flex
    }

    .pay-list li.pay {
        float: unset;
        width: unset;
        padding: .5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .pay-list li + li {
        margin-left: 2em
    }

    li[data-payway].active {
        border: 1px solid red;
    }

    .user-addresslist{margin-bottom: 1em}

    li.user-addresslist{cursor: pointer}
</style>
</head>

<body>

<!--顶部导航条 -->
<div class="am-container header">
    <div class="message-l">
        <div class="topMessage">
            <div class="menu-hd">
                {if condition="empty($Think.session.id)"}
                <a href="{:url('index/user/login')}" target="_top" class="h">亲，请<span style="color: red"> 登录 </span></a>
                <a href="#" target="_top">免费<span style="color: red"> 注册 </span></a>
                {elseif condition="!empty($Think.session.id)"}
                尊敬的会员：<span style="color: red"> {$Think.session.username} </span>
                {/if}
            </div>
        </div>
    </div>
    <div class="message-r">
        <div class="topMessage home">
            <div class="menu-hd"><a href="{:url('index/index/index')}" target="_top" class="h">FooD点餐首页</a></div>
        </div>
        <div class="topMessage my-shangcheng">
            <div class="menu-hd MyShangcheng"><a href="{:url('index/person/center')}" target="_top">
                <i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
        </div>
        <div class="topMessage mini-cart">
            <div class="menu-hd"><a id="mc-menu-hd" href="{:url('index/goods/shopcar')}" target="_top">
                <i class="am-icon-shopping-cart  am-icon-fw"></i>
                <span>购物车</span>{$sumcar}<strong id="J_MiniCartNum" class="h"></strong></a></div>
        </div>
        <div class="topMessage favorite">
            <div class="menu-hd"><a href="{:url('index/person/collection')}" target="_top"><i
                    class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
        </div>
    </div>
</div>
<!--悬浮搜索框-->

<div class="nav white">
    <div class="logo"><img  src="__STATIC__/images/FooD.png"/></div>
    <div class="logoBig">
        <li><img style="height: 100px;width: 100px" src="__STATIC__/images/FooD.png"/></li>
    </div>

    <div class="search-bar pr">
        <a name="index_none_header_sysc" href="#"></a>
        <form action="{:url('index/search/searchs')}" method="post">
            <input id="searchInput" name="keys" type="text" placeholder="搜索" autocomplete="off">
            <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
        </form>
    </div>
</div>

<div class="clear"></div>

<div class="concent">
    <!--地址 -->
    <div class="paycont">
        <div class="address">
            <h3>确认收货地址 </h3>

            <div class="control">
                <a href="javascript:;" class="tc-btn createAddr theme-login am-btn am-btn-danger"
                   data-am-modal="{target: '#doc-modal-1'}">新增地址</a>
            </div>

            <div class="clear"></div>
            <ul>
                <li class="user-addresslist defaultAddr" data-address-id="{$address['address_id']}">
                    <div class="per-border"></div>
                    <div class="address-left">
                        <div class="user DefaultAddr">
                            <span class="buy-address-detail">
                                <span class="buy-user">{$address["consignee"]}</span>
                                <span class="buy-phone">{$address["phone"]}</span>
                            </span>
                        </div>
                        <br>
                        <div class="default-address DefaultAddr">
                            <span class="buy-line-title buy-line-title-type">收货地址：</span>
                            <span class="buy--address-detail">{$address["address_info"]}</span>
                        </div>
                        <ins class="deftip">默认地址</ins>
                    </div>
                    <div class="address-right">
                        <a href="person/address.html">
                            <span class="am-icon-angle-right am-icon-lg"></span></a>
                    </div>
                    <div class="clear"></div>
                    <div class="new-addr-btn">
                        <a href="#" class="hidden">设为默认</a>
                        <span class="new-addr-bar hidden">|</span>
                        <a href="javascript:;" data-am-modal="{target: '#doc-modal-2'}" data-edit-address-id="{$address['address_id']}">编辑</a>
                        <span class="new-addr-bar">|</span>
                    </div>
                    <div class="per-border"></div>
                </li>

                {volist name="address_list" id="cur_ad" key="k"}
                    {if condition="$key neq 0"}
                    <li class="user-addresslist" data-address-id="{$cur_ad['address_id']}">
                        <div class="per-border"></div>
                        <div class="address-left">
                            <div class="user DefaultAddr">
                                <span class="buy-address-detail">
                                    <span class="buy-user">{$cur_ad["consignee"]}</span>
                                    <span class="buy-phone">{$cur_ad["phone"]}</span>
                                </span>
                            </div>
                            <br>
                            <div class="default-address DefaultAddr">
                                <span class="buy-line-title buy-line-title-type">收货地址：</span>
                                <span class="buy--address-detail">{$cur_ad["address_info"]}</span>
                            </div>
                            {if condition="$cur_ad['is_default'] eq 1"}
                            <ins class="deftip">默认地址</ins>
                            {/if}
                        </div>
                        <div class="address-right">
                            <a href="person/address.html">
                                <span class="am-icon-angle-right am-icon-lg"></span></a>
                        </div>
                        <div class="clear"></div>
                        <div class="new-addr-btn">
                            <a href="#" class="hidden">设为默认</a>
                            <span class="new-addr-bar hidden">|</span>
                            <a href="javascript:;" data-am-modal="{target: '#doc-modal-2'}" data-edit-address-id="{$cur_ad['address_id']}">编辑</a>
                            <span class="new-addr-bar">|</span>
                        </div>
                        <div class="per-border"></div>
                    </li>
                    {/if}
                {/volist}
            </ul>

            <div class="clear"></div>
        </div>

        <!--物流 -->
        <!--	<div class="logistics">
                <h3>选择物流方式</h3>
                <ul class="op_express_delivery_hot">
                    <li data-value="yuantong" class="OP_LOG_BTN  "><i class="c-gap-right" style="background-position:0px -468px"></i>圆通<span></span></li>
                    <li data-value="shentong" class="OP_LOG_BTN  "><i class="c-gap-right" style="background-position:0px -1008px"></i>申通<span></span></li>
                    <li data-value="yunda" class="OP_LOG_BTN  "><i class="c-gap-right" style="background-position:0px -576px"></i>韵达<span></span></li>
                    <li data-value="zhongtong" class="OP_LOG_BTN op_express_delivery_hot_last "><i class="c-gap-right" style="background-position:0px -324px"></i>中通<span></span></li>
                    <li data-value="shunfeng" class="OP_LOG_BTN  op_express_delivery_hot_bottom"><i class="c-gap-right" style="background-position:0px -180px"></i>顺丰<span></span></li>
                </ul>
            </div>-->
        <div class="clear"></div>

        <!--订单 -->
        <div class="concent">
            <div id="payTable">
                <h3>确认订单信息</h3>
                <div class="cart-table-th">
                    <div class="wp">

                        <div class="th th-item">
                            <div class="td-inner">商品信息</div>
                        </div>
                        <div class="th th-price">
                            <div class="td-inner">单价</div>
                        </div>
                        <div class="th th-amount">
                            <div class="td-inner">数量</div>
                        </div>

                        <div class="th th-oplist">
                            <div class="td-inner">配送方式</div>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>


                <form action="{:url('index/orders/gopay')}" method="post">

                    <div class="bundle  bundle-last">
                        <div class="bundle-main" style="position: relative;" id="tab">
                            <input type="hidden" name="is_multi" value="{$is_multi}"/>
                            {if condition="$is_multi eq 0"}
                            <ul class="item-content clearfix">
                                <li class="td td-item" style="width: 50%">
                                    <div class="item-pic">
                                        <a href="#" class="J_MakePoint">
                                            <img src="{$goodsInfo.imgpath}" class="itempic J_ItemImg" width="85px"></a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-basic-info">
                                            <a href="#" class="item-title J_MakePoint" data-point="tbcart.8.11">{$goodsInfo.good_name}</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="td td-price">
                                    <div class="item-props">
                                        <span class="price" style="color: red;font-size: 18px;display: block;">{$goodsInfo.price}</span>
                                    </div>
                                </li>

                                <li class="td td-number">
                                    <input class="min" name="" type="button" value="-"/>
                                    <input class="text_box" name="goodssum" type="text" value="{$goodssum}"
                                           style="width: 80px;"/>
                                    <input type="hidden" name="id" value="{$goodsInfo.goods_id}"/>

                                    <input class="adds" name="" type="button" value="+"/>
                                </li>

                                <li class="td td-oplist">
                                    <div class="td-inner">
                                        <span class="phone-title">配送方式</span>
                                        <div class="pay-logis">
                                            <span>包邮</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            {/if}

                            {if condition="$is_multi eq 1"}
                            {volist name="$goodsInfo" id="item"}

                            <ul class="item-content clearfix">
                                <li class="td td-item" style="width: 50%">
                                    <div class="item-pic">
                                        <a href="#" class="J_MakePoint">
                                            <img src="{$item.imgpath}" class="itempic J_ItemImg" width="85px"></a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-basic-info">
                                            <a href="#" class="item-title J_MakePoint" data-point="tbcart.8.11">{$item.good_name}</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="td td-price">
                                    <div class="item-props">
                                        <span class="price" style="color: red;font-size: 18px;display: block;">{$item.price}</span>
                                    </div>
                                </li>

                                <li class="td td-number">
                                    <input class="min" name="" type="button" value="-"/>
                                    <input class="text_box" name="goodssum[]" type="text" value="{$goodssum[$key]}"
                                           style="width: 80px;"/>
                                    <input type="hidden" name="id[]" value="{$item.goods_id}"/>
                                    <input class="adds" name="" type="button" value="+"/>
                                </li>


                                <li class="td td-oplist">
                                    <div class="td-inner">
                                        <span class="phone-title">配送方式</span>
                                        <div class="pay-logis">
                                            <span>包邮</span>
                                        </div>
                                    </div>
                                </li>

                            </ul>

                            {/volist}
                            {/if}
                        </div>
                    </div>


                    <!--留言-->
                    <div class="order-extra">
                        <div class="order-user-info">
                            <div id="holyshit257" class="memo">
                                <label>买家留言：</label>
                                <input name="message" type="text" title="选填,对本次交易的说明（建议填写已经和卖家达成一致的说明）"
                                       placeholder="选填,建议填写和卖家达成一致的说明"
                                       class="memo-input J_MakePoint c2c-text-default memo-close">
                                <div class="msg hidden J-msg">
                                    <p class="error">最多输入500个字符</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--优惠券 -->

                    <!--含运费小计 -->
                    <div class="clear"></div>
                    <!--支付方式-->
                    <div class="logistics">
                        <h3>选择支付方式</h3>
                        <ul class="pay-list">
                            <li class="pay card" data-payway="cardpay">
                                <img src="__STATIC__/images/wangyin.jpg"/>
                                <span>银联</span>
                            </li>
                            <li class="pay qq" data-payway="weixinpay">
                                <img src="__STATIC__/images/weizhifu.jpg"/>
                                <span>微信</span>
                            </li>
                            <li class="pay taobao" data-payway="alipay">
                                <img src="__STATIC__/images/zhifubao.jpg"/>
                                <span>支付宝</span>
                            </li>
                        </ul>
                        <input type="hidden" name="payway" value="default">

                    </div>
                    <div class="clear"></div>
                    <!--信息 -->
                    <div class="order-go clearfix">
                        <div class="pay-confirm clearfix">
                            <div class="box">
                                <div tabindex="0" id="holyshit267" class="realPay"><em class="t">实付款：</em>
                                    <span class="price g_price ">
							            <span>¥</span>
                                        <em class="style-large-bold-red " id="J_ActualFee">
									        <label id="total" class="style-large-bold-red "></label>
								        </em>
                                    </span>
                                </div>

                                <div id="holyshit268" class="pay-address">
                                    <input type="hidden" name="order_addID" value="{$address['address_id']}">
                                    <p class="buy-footer-address">
                                        <span class="buy-line-title buy-line-title-type">寄送至：</span>
                                        <span class="buy--address-detail">{$address["address_info"]}</span>
                                    </p>

                                    <p class="buy-footer-address">
                                        <span class="buy-line-title">收货人：</span>
                                        <span class="buy-address-detail">
                                            <span class="buy-user">{$address["consignee"]} </span>
                                            <span class="buy-phone">{$address["phone"]}</span>
                                        </span>
                                    </p>

                                </div>
                            </div>

                            <div id="holyshit269" class="submitOrder">
                                <div class="go-btn-wrap" style="position: relative;">

                                    <button class="btn-go" tabindex="0" title="点击此按钮，提交订单"
                                            style="display: block;float:right; border:none"
                                            onclick="if(confirm('请检查你要购买的商品信息是否正确')==false)return false;">提交订单
                                    </button>

                                    <a href="javascript:;" id="cancel_order" class="btn-go"
                                       onclick="if(confirm('确定要取消当前的订单吗？')==false)return false;"
                                       style="background-color: #888;margin-right: 1em"
                                       tabindex="0" title="取消订单">取消订单</a>

                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>


            </form>

            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-hd">
            <p>
                <a href="#"></a>
                <b>|</b>
                <a href="#">FooD点餐首页</a>
                <b>|</b>
                <a href="#">支付宝</a>
                <b>|</b>
                <a href="#">物流</a>
            </p>
        </div>
        <div class="footer-bd">
            <p>
                <a href="#"></a>
                <a href="#">合作伙伴</a>
                <a href="#">联系我们</a>
                <a href="#">网站地图</a>
                <em>© 2020-2020 版权所有</em>
            </p>
        </div>
    </div>
</div>

<?php $isPopover=true; ?>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1" style="background-color: #fff">
    <div class="am-modal-dialog">
        {include file="common/form_address_addDefault" /}
    </div>
</div>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-2" style="background-color: #fff">
    <div class="am-modal-dialog">
        {include file="common/form_address_edit" /}
    </div>
</div>

{include file="common/modal_alert" /}

<div class="clear"></div>

</body>
<script>
    $(function () {
        // 更改商品数量
        function setTotal() {
            var s = 0;
            $("#tab ul").each(function (index, elem) {
                let cur_num = $(elem).find('input.text_box').val(),
                    cur_price = $(elem).find('span.price').text()
                s += cur_num * cur_price;
            });
            $("#total").html(s.toFixed(2));
        }
        setTotal();

        $(".adds").click(function () {
            var t = $(this).parent().find('input[class*=text_box]');
            t.val(parseInt(t.val()) + 1)
            setTotal();
        })
        $(".min").click(function () {
            var t = $(this).parent().find('input[class*=text_box]');
            t.val(parseInt(t.val()) - 1)
            if (parseInt(t.val()) < 1) {
                t.val(1);
            }
            setTotal();
        })

        // 选择收货地址
        let elem_cur_active, ele_finnal_address, cur_addID,
            elems_li_address = $('.concent .address li.user-addresslist')
        $(document).on('click', '.concent .address li', function (e){
            elems_li_address.removeClass('defaultAddr')
            $(e.currentTarget).addClass('defaultAddr')

            cur_addID = parseInt($(e.currentTarget).data('address-id'))

            elem_cur_active = $('li[data-address-id="' + cur_addID + '"]')
            ele_finnal_address = $('#holyshit268')

            $('#holyshit268 .buy--address-detail').text(elem_cur_active.find('.buy--address-detail').text())
            $('#holyshit268 .buy-user').text(elem_cur_active.find('.buy-user').text())
            $('#holyshit268 .buy-phone').text(elem_cur_active.find('.buy-phone').text())
            $('#holyshit268 input[name="order_addID"]').val(cur_addID)
        })

        // 提交订单
        $(document).on('click', 'li[data-payway]', function (e) {
            let elem_active_payway = $('input[name="payway"]'),
                elem_cur_click = $(e.currentTarget)

            if (elem_active_payway.val() === 'defualt') {
                elem_cur_click.addClass('active')
                elem_active_payway.val(elem_cur_click.data('payway'))
            } else {
                if (elem_active_payway.val() === elem_cur_click.data('payway')) {
                    elem_cur_click.removeClass('active')
                    elem_active_payway.val('default')
                } else {
                    $('li[data-payway].active').removeClass('active')
                    elem_cur_click.addClass('active')
                    elem_active_payway.val(elem_cur_click.data('payway'))
                }
            }
        })

        // 取消订单
        $(document).on('click', '#cancel_order', function (e){
            let am_alert = $('#doc-modal-alert');
            $.ajax({
                type: "POST",
                url: "{:url('index/orders/gopay')}?action=cancel_order",
                dataType: "json",
                data: $('#payTable form').serialize(),
                success: function(data){
                    if(!am_alert.length){
                        alert(data.msg)
                    }
                    setTimeout(function () {
                        history.back();
                    },2000)
                }
            })
        })
    })
</script>

</html>