<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
	<title>地址管理</title>
	<link href="__STATIC__/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/css/personal.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/css/addstyle.css" rel="stylesheet" type="text/css">
	<script src="__STATIC__/AmazeUI-2.4.2/assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="__STATIC__/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
	<script src="__STATIC__/distpicker-2.0.6/dist/distpicker.min.js"></script>
</head>

	<body>
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					<!--顶部导航条 -->
					<div class="am-container header">
						<div class="message-l">
							<div class="topMessage">
								<div class="menu-hd">
									{if condition="empty($Think.session.id)"}
									<a href="{:url('index/user/login')}" target="_top" class="h">亲，请<span style="color: red"> 登录 </span></a>
									<a href="#" target="_top">免费<span style="color: red"> 注册 </span></a>
									{elseif condition="!empty($Think.session.id)"}
									尊敬的会员：<span style="color: red"> {$Think.session.username} </span>
									{/if}
								</div>
							</div>
						</div>
						<div class="message-r">
							<div class="topMessage home">
								<div class="menu-hd"><a href="{:url('index/index/index')}" target="_top" class="h">FooD点餐首页</a></div>
							</div>
							<div class="topMessage my-shangcheng">
								<div class="menu-hd MyShangcheng"><a href="{:url('index/person/center')}" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
							</div>
							<div class="topMessage mini-cart">
								<div class="menu-hd"><a id="mc-menu-hd" href="{:url('index/goods/shopcar')}" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i>
									<span>购物车</span><strong id="J_MiniCartNum" class="h">{$sumcar}</strong></a></div>
							</div>
							<div class="topMessage favorite">
								<div class="menu-hd"><a href="{:url('index/person/collection')}" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
						</div>
						</div>
					</div>

						<!--悬浮搜索框-->

						<div class="nav white">
							<div class="logoBig">
								<li><img style="height: 100px;width: 100px" src="__STATIC__/images/FooD.png" /></li>
							</div>

							<div class="search-bar pr">
								<a name="index_none_header_sysc" href="#"></a>
								<form action="{:url('index/search/searchs')}" method="post">
									<input id="searchInput" name="keys" type="text" placeholder="搜索"  autocomplete="off">
									<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
								</form>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</article>
		</header>

		<div class="nav-table">
			<div class="long-title"><span class="all-goods">全部分类</span></div>
			<div class="nav-cont">
				<ul>
					<li class="index"><a href="/">首页</a></li>

				</ul>

			</div>
		</div>
		<b class="line"></b>

		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-address">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">地址管理</strong> / <small>Address&nbsp;list</small></div>
						</div>
						<hr/>
						<ul class="am-avg-sm-1 am-avg-md-3 am-thumbnails">




							{volist name="adInfo" id="value"}


							{if condition="$value['is_default']==1"}
							<li class="user-addresslist defaultAddr">

								{elseif condition="$value['is_default']==0"}
							<li class="user-addresslist" style="border: 1px solid #999;margin-bottom: 10px;">
								{/if}

								<span class="new-option-r"><i class="am-icon-check-circle"></i><a href="{:url('index/person/defaultAd')}?id={$value['address_id']}" onclick="if(confirm('你确定要设为默认地址吗？')==false)return false;">设为默认</a></span>
								<p class="new-tit new-p-re">
									<span class="new-txt">{$value['consignee']}</span>
									<span class="new-txt-rd2">{$value['phone']}</span>
								</p>
								<div class="new-mu_l2a new-p-re">
									<p class="new-mu_l2cw">
										<span class="title">地址：</span>
										<span>{$value['address_info']}</span></p>
								</div>
								<div class="new-addr-btn">
									<a href="{:url('index/person/updateaddress')}?id={$value.address_id}" onclick="if(confirm('你确定要编辑此地址吗？')==false)return false;"><i class="am-icon-edit"></i>编辑</a>
									<span class="new-addr-bar">|</span>
									<a href="{:url('index/person/deladdress')}?id={$value.address_id}" onclick="if(confirm('你确定要删除此地址吗？')==false)return false;"><i class="am-icon-trash"></i>删除</a>
								</div>
							</li>
							{/volist}

						</ul>
						<div class="clear"></div>
						<a class="new-abtn-type" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0}">添加新地址</a>
						<!--例子-->
						{include file="common/form_address_add" /}

					</div>

					<script type="text/javascript">
						$(document).ready(function() {							
							$(".new-option-r").click(function() {
								$(this).parent('.user-addresslist').addClass("defaultAddr").siblings().removeClass("defaultAddr");
							});
							
							var $ww = $(window).width();
							if($ww>640) {
								$("#doc-modal-1").removeClass("am-modal am-modal-no-btn")
							}
							
						})
					</script>

					<div class="clear"></div>

				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#"></a>
							<b>|</b>
							<a href="#">FooD点餐首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#"></a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2020-2020 版权所有</em>
						</p>
					</div>
				</div>
			</div>

			<aside class="menu">
				<ul>
					<li class="person active">
						<a>个人中心</a>
					</li>
					<li class="person">

						<ul>
							<li> <a href="{:url('index/person/information')}">个人信息</a></li>
							<li> <a href="{:url('index/person/password')}">安全设置</a></li>
							<li> <a href="{:url('index/person/address')}">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<a>我的交易</a>
						<ul>
							<li><a href="{:url('index/person/order')}">订单管理</a></li>

						</ul>
					</li>

					<li class="person">
						<a>我的小窝</a>
						<ul>
							<li> <a href="{:url('index/person/collection')}">收藏</a></li>

							<li> <a href="{:url('index/person/comment')}">评价</a></li>

						</ul>
					</li>

				</ul>

			</aside>
		</div>

	</body>

</html>