<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
	<title>地址管理</title>
	<link href="__STATIC__/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/css/personal.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/css/addstyle.css" rel="stylesheet" type="text/css">
	<script src="__STATIC__/AmazeUI-2.4.2/assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="__STATIC__/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
	<script src="__STATIC__/distpicker-2.0.6/dist/distpicker.min.js"></script>
</head>

<body>
	<!--头 -->
	<header>
		<article>
			<div class="mt-logo">
				<!--顶部导航条 -->
				<div class="am-container header">
					<div class="message-l">
						<div class="topMessage">
							<div class="menu-hd">
								{if condition="empty($Think.session.id)"}
								<a href="{:url('index/user/login')}" target="_top" class="h">亲，请<span style="color: red"> 登录 </span></a>
								<a href="#" target="_top">免费<span style="color: red"> 注册 </span></a>
								{elseif condition="!empty($Think.session.id)"}
								尊敬的会员：<span style="color: red"> {$Think.session.username} </span>
								{/if}
							</div>
						</div>
					</div>
					<div class="message-r">
						<div class="topMessage home">
							<div class="menu-hd"><a href="{:url('index/index/index')}" target="_top" class="h">FooD点餐首页</a></div>
						</div>
						<div class="topMessage my-shangcheng">
							<div class="menu-hd MyShangcheng"><a href="{:url('index/person/center')}" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
						</div>
						<div class="topMessage mini-cart">
							<div class="menu-hd"><a id="mc-menu-hd" href="{:url('index/goods/shopcar')}" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i>
								<span>购物车</span><strong id="J_MiniCartNum" class="h">{$sumcar}</strong></a></div>
						</div>
						<div class="topMessage favorite">
							<div class="menu-hd"><a href="{:url('index/person/collection')}" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
					</div>
					</div>
				</div>

					<!--悬浮搜索框-->

					<div class="nav white">
						<div class="logoBig">
							<li><img style="height: 100px;width: 100px" src="__STATIC__/images/FooD.png" /></li>
						</div>

						<div class="search-bar pr">
							<a name="index_none_header_sysc" href="#"></a>
							<form action="{:url('index/search/searchs')}" method="post">
								<input id="searchInput" name="keys" type="text" placeholder="搜索"  autocomplete="off">
								<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
							</form>
						</div>
					</div>

					<div class="clear"></div>
				</div>
			</div>
		</article>
	</header>

	<div class="nav-table">
		<div class="long-title"><span class="all-goods">全部分类</span></div>
		<div class="nav-cont">
			<ul>
				<li class="index"><a href="/">首页</a></li>

			</ul>
			<!--<div class="nav-extra">-->
			<!--	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利-->
			<!--	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>-->
			<!--</div>-->
		</div>
	</div>

	<b class="line"></b>

	<div class="center">
		<div class="col-main">
			<div class="main-wrap">

				<div class="user-address">
					<!--标题 -->
					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">地址管理</strong> / <small>Address&nbsp;list</small></div>
					</div>
					<hr/>

					<div class="clear"></div>
					<a class="new-abtn-type" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0}">添加新地址</a>
					<!--例子-->
					<div class="am-modal am-modal-no-btn" id="doc-modal-1">

						<div class="add-dress">

							{include file="common/form_address_edit" /}

						</div>

					</div>

				</div>
				<script type="text/javascript">
					$(document).ready(function() {
						$(".new-option-r").click(function() {
							$(this).parent('.user-addresslist').addClass("defaultAddr").siblings().removeClass("defaultAddr");
						});

						var $ww = $(window).width();
						if($ww>640) {
							$("#doc-modal-1").removeClass("am-modal am-modal-no-btn")
						}

					})
				</script>

				<div class="clear"></div>

			</div>
			<!--底部-->
			<div class="footer">
				<div class="footer-hd">
					<p>
						<a href="#"></a>
						<b>|</b>
						<a href="#">FooD点餐首页</a>
						<b>|</b>
						<a href="#">支付宝</a>
						<b>|</b>
						<a href="#">物流</a>
					</p>
				</div>
				<div class="footer-bd">
					<p>
						<a href="#"></a>
						<a href="#">合作伙伴</a>
						<a href="#">联系我们</a>
						<a href="#">网站地图</a>
						<em>© 2020-2020 版权所有</em>
					</p>
				</div>
			</div>
		</div>

		<aside class="menu">
			<ul>
				<li class="person active">
					<a>个人中心</a>
				</li>
				<li class="person">

					<ul>
						<li> <a href="{:url('index/person/information')}">个人信息</a></li>
						<li> <a href="{:url('index/person/password')}">安全设置</a></li>
						<li> <a href="{:url('index/person/address')}">收货地址</a></li>
					</ul>
				</li>
				<li class="person">
					<a>我的交易</a>
					<ul>
						<li><a href="{:url('index/person/order')}">订单管理</a></li>

					</ul>
				</li>

				<li class="person">
					<a>我的小窝</a>
					<ul>
						<li> <a href="{:url('index/person/collection')}">收藏</a></li>

						<li> <a href="{:url('index/person/comment')}">评价</a></li>

					</ul>
				</li>

			</ul>

		</aside>
	</div>

</body>

</html>