<!--标题 -->
<div class="am-cf am-padding">
	<div class="am-modal-hd am-fl am-cf">
		<strong class="am-text-danger am-text-lg">修改地址</strong> / <small>Update&nbsp;address</small>
	</div>
</div>
<hr/>

<div class="am-u-md-12 am-modal-bd" style="max-width: 600px;border-bottom: none">
	<form class="am-form am-form-horizontal" id="form-address-edit">
		<input type="hidden" name="addressid" value="{$address['address_id']}" />
		<div class="am-form-group">
			<label for="user-name" class="am-form-label">收货人</label>
			<div class="am-form-content">
				<input type="text" name="consignee" placeholder="收货人" value="{$address['consignee']}">
			</div>
		</div>

		<div class="am-form-group">
			<label for="user-phone" class="am-form-label">手机号码</label>
			<div class="am-form-content">
				<input name="phone" placeholder="手机号必填" type="text" value="{$address['phone']}">
			</div>
		</div>
		<div class="am-form-group">
			<label for="user-address" class="am-form-label">所在地</label>
			<div id="distpicker-edit" class="am-form-content address" style="display: flex">
				<select name="province" data-province="{$address['prov']}"></select>
				<select name="city" data-city="{$address['city']}"></select>
				<select name="district" data-district="{$address['district']}"></select>
			</div>
		</div>

		<div class="am-form-group">
			<label for="user-intro" class="am-form-label">详细地址</label>
			<div class="am-form-content" style="
    display: flex;
    flex-direction: column;
    align-items: flex-start;
">
				<textarea name="address" rows="3" id="user-intro">{$address['address_detail']}</textarea>
				<small style="color: #aaa">100字以内写出你的详细地址...</small>
			</div>
		</div>

		<div class="am-form-group">
			<a href="javascript:;" id="edit-address-submit" class="am-btn am-btn-danger">确认修改</a>
			{notempty name="isPopover"}
			<div class="am-btn am-btn-danger close" data-am-modal-close>取消</div>
			{/notempty}
		</div>
	</form>
</div>

<script>
	$(function(){
		let dpEdit   = $('#distpicker-edit').distpicker('reset'),
			my_alert = $('#doc-modal-alert');

		$('#edit-address-submit').on('click', function(){
			$.ajax({
				type: "POST",
				url: "{:url('index/person/updateAd')}",
				dataType: "json",
				data: $('#form-address-edit').serialize(),
				success: function(data){
					if(my_alert.length === 0){
						alert(data.msg)
					} else {
						$('#doc-modal-alert-info').text(data.msg)
						my_alert.modal('open')
					}
					setTimeout(function () {
						window.location.reload()
					},2000)
				}
			})
		})
	})

</script>